name: Playwright tests
on: 
  pull_request:
    types: [opened, edited, reopened]
    branches:
      - master
    paths-ignore:
      - '.github/workflows/*'
jobs:
  print:
    runs-on: ubuntu-latest
    steps:
      - name: print context
        run: echo "${{toJson(github.event)}}"
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Get repository code
      uses: actions/checkout@v6
    - name: Install dependencies
      run: npm ci
    - name: npm run test
      run: npm run test
  lint:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - name: Get repository code
      uses: actions/checkout@v6
    - name: Install dependencies
      run: npm ci
    - name: Lint check
      run: npm run lint